
body{
    background-color: bisque;
}
h1{
    text-align: center;
}
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  .nav li {
    display: inline-block;
  }
  
  .nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.5 ease;
  }
  
  .nav li a:hover {
    background-color: #111;
  }
  
  .nav li.active a {
    background-color: #04AA6D;
  }